@import url("styles/header.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #faf1f1;
    --fonte-principal: "Poppins";
    --amarelo: #e7fa11;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

h1{
    background-color: white;
}